{% extends 'style.html' %}
{% load static %}


{% block nav_block %}


<li class="nav-item">
  <a class="nav-link" href="#">Оформить заявку</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Мои заявки</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Обработка заявок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
</li>


{% endblock %}

{% block content %}

<br>
<br>

<div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img src="{% static 'images/logout.png' %}" alt="Выход из аккаунта" class="img-fluid mb-4">
        <h3>Добро пожаловать, {{user.username}}</h3>
        <p>Ваша роль: Клиент</p>
        <p>Ведутся работы</p>
        <br>
        <a class="btn-styled" href="{% url 'index' %}">Вернуться на главную</a>
      </div>
    </div>
</div>




{% endblock %}