{% extends 'style.html' %}
{% load static %}



{% block nav_block %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'requests' %}">Панель заявок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'executors' %}">Панель исполнителей</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'feedback' %}">Панель обратной связи</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
</li>

{% endblock %}

{% block content %}
<div class="container">
<br>
<br>
<h2>Обратная связь</h2>
  <br>
  {% for feedback in feedbacks %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title bg-success-subtle">{{ feedback.fullname }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ feedback.subject }}</h6>
        <p class="card-text">{{ feedback.message }}</p>
        <p class="card-text">{{ feedback.email }}</p>
        <p class="card-text">{{ feedback.timestamp }}</p>
        <a href="{% url 'delete_feedback' feedback.id %}" class="btn btn-danger">Удалить</a>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="btn btn-primary" target="_blank">Ответить</a>
      </div>
    </div>
  {% endfor %}
  
  <br>
  <br> 

  <div class="pagination">

    <span class="step-links">
        {% if feedbacks.has_previous %}
            <a class = "btn-styled" href="?page=1">&laquo; первая</a>
            <a class = "btn-styled" href="?page={{ feedbacks.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ feedbacks.number }} из {{ feedbacks.paginator.num_pages }}.
        </span>

        {% if feedbacks.has_next %}
            <a class = "btn-styled" href="?page={{ feedbacks.next_page_number }}">следующая</a>
            <a class = "btn-styled" href="?page={{ feedbacks.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
        <br>
        <br>
    </span>
  </div>
  </div>


{% endblock %}