{% extends 'style.html' %}
{% load static %}


{% block nav_block %}


<li class="nav-item">
  <a class="nav-link" href="{% url 'order' %}">Оформить заявку</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'myorders' %}">Мои заявки</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'answers' %}">Обработка заявок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
</li>


{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
    <form method="post" action="{% url 'order' %}" class="col-md-5" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      <br>
      <h3 class="text-center">Отправить заявку</h3>
      <br>
      {{ form.as_p }}
      <br>
      <button type="submit" class="btn-styled">Отправить</button>
      <br>
      <br>
    </form>
    <div class="col-md-6">
    <br>
    <br>
    <img src="{% static 'images/request.png' %}" alt="Изображение" class="img-fluid">
    </div>
    </div>

  </div>

{% endblock %}