{% extends 'style.html' %}
{% load static %}



{% block nav_block %}

<li class="nav-item">
  <a class="nav-link" href="{% url 'requests' %}">Панель заявок</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'executors' %}">Панель исполнителей</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'feedback' %}">Панель обратной связи</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
</li>

{% endblock %}

{% block content %}
 

{% endblock %}